<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> Redirect... </title>
  {% if redirect_url %}
	<meta http-equiv="refresh" content="1; url={{redirect_url}}" />
  {% endif %}
 </head>
 <body>
  {{message}}
 </body>
</html>
